@mixin mediaquery1(){
    @media (max-width: 998px) {
        width: 70%;
        border-top-left-radius: 10px;
      }
}

@mixin mediaquery2(){
    @media (max-width: 998px) {
        width: 40%;
        border-top-right-radius: 10px;
    
      }
}

@mixin mediaquery3(){
    @media (max-width: 768px) {
      width: 100%;
      }
}