@mixin mediaquery1(){
    @media (max-width: 998px) {
        width: 80%;
        border-top-left-radius: 10px;
      }
}

@mixin mediaquery2(){
    
    @media (max-width: 998px) {
        width: 80%;
        border-top-right-radius: 10px;
    
      }
}

@mixin mediaquery3(){
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
}