@use "../variables" as v;
@use "./button" as b;
@use "./label" as L;
@use "./input.scss" as i;
@use "./mediaquery" as md;

main {
  width: 100vw;
  height: 100vh;
  h3 {
    color: v.$color;
    text-align: center;
    margin-top: 1.25rem;
  }
  h2{
    text-align: center;
    font-size:  1.5rem;;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 1.875rem;
    @include md.mediaquery3();
  }

  .card {
    background-color: v.$white;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1.5625rem;
    border-bottom-left-radius: 1.5625rem;
    box-shadow: v.$maind-shadow;
    width: 35%;
    height: auto;
    padding:1.8rem;
    @include md.mediaquery1();
    @include b.button();
    &_parrafo{
      text-align: center;
    }
  }

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0;
    @include L.label();
    @include i.input();
  }



  .texto {
    background-color: v.$color;
    width: 20%;
    height: 100px;
    color: v.$bg-color;
    padding: 3.125rem;
    height: auto;
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: v.$main-shadow;
    @include md.mediaquery2();
    @include b.button2();
    .icon{
      color:red;
    }
    p {
      font-family: v.$font-family;
      font-size:1rem;
    }
    
  }
}
